@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

ul,li,a,button{
    list-style: none;
    text-decoration: none;
    
}
li{
    margin: 0 20px;
}
.nm_dgn{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 45px;
}

.HEADER{
    background-image: url("./images/developer.png");
    background-repeat: no-repeat;
    height: 770px;
    
    
}
.nav_styl{
    padding: 0 200px;

}

.design_s{
    color: rgb(253, 110, 10);
}
.nav_itm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_ul{
    display: flex; 
    align-items: center; 
}
ul li a{
    color: rgb(71, 71, 71);
}
ul li a,button{
    

    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
.nab_btn{
    border: none;
     padding: 15px 20px;
     background-color: white;
     border: 1px solid rgb(253, 110, 10);
     border-radius: 5px;
     color: rgb(253, 110, 10);
}
.nab_btn:hover{
    color: white;
    background-color: rgb(253, 110, 10);
    transition: all 0.7s;
}



.bnrtxt1{
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 47px;
    color: rgb(71, 71, 71);
    margin: 120px 0 0 0 ;
}
.bnrtxt2{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 85px;
font-weight: 700;
margin: 0;
}
.bnrtxt3{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
}
.bnr_dnld{
    color: rgb(253, 110, 10);
    border-color: rgb(253, 110, 10);
    border-width: 1px;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.bnr_dnld:hover{
    color: white;
    border-color: white;
    background-color: rgb(253, 110, 10);
    transition: all 0.7s;
}

.margin{
    margin-left: 20px;

}
.bnr_edt{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.bnr_pic_bg{
    background-image: url("./images/header_bg.png");
    width: 1000px;
    height: 500px;
    background-repeat: no-repeat;
    
}
.bnr_pic{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bnr_pic img{
    
    height: 500px;
    
}



.about_portfolio{
    margin-top: 100px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_txt{
    width: 927px;
    height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(253, 110, 10);
    align-items: center;
}
.about_txt .txt{
    text-align: center;
}
.about_txt ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.txt h3{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
}

.txt p{
    word-wrap: break-word;
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
}
li p span{
    font-family: Open Sans;
    color: rgb(117, 117, 117);
font-size: 20px;
font-weight: 400;
}
.about_txt ul li p{
    font-family: Open Sans;
    
font-size: 20px;
font-weight: 700;
}
.whattxt{
    text-align: center;
}
.whattxt h3{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
}
.whattxt p{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
}

.whatskil{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}
.whtskil1 h3{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
}
.whtskil1 p{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
}

.cv{
    text-align: center;
    margin-top: 100px;
}
.btn_bnr{
    margin-top: 50px;
}
.cv .had{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
}
.part1 {
    text-align: left;
}
.minhad{
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 30px;
font-weight: 700;
margin-bottom: 50px;
}
.edudtl_had{
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 25px;
font-weight: 700;
margin: 0;
}
.edudtl_had2{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 20px;
font-weight: 600;
}
.edudtl_txt{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
}
.line{
    border: 0.1px solid rgb(253, 110, 10);
}
.cvinfo{
    display: flex;
    justify-content: space-around;
}
.footr{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

}
.footr h2{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
}
.footr p{
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
}
.sicon{
    font-size: 50px;
    margin-top: 40px;
}
.sicon > a > i{
    
    color: aqua;
    margin-right: 20px;
    
}
.namemail input{
    width: 100%;
height: 64px;

}
.ftrmil{
    margin: 10px 0;
}
.ftrtxt{

    width: 100%;
    margin-bottom: 10px;
}
input textarea {
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
}

@media only screen and (max-width: 527px) {
    .HEADER {
    background: none;
    height: auto;
    }
    .nav_styl {
        padding: 0 ;
    }
    .nm_dgn {
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 30px;
    }
    .nav_ul li {
        margin: 0px 5px;
    }
    .nab_btn {
        padding: 3px 5px;
    }
    .bnrtxt1 {
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        color: rgb(71, 71, 71);
        margin: 0px 0 0 0;
    }
    .bnrtxt2 {
        color: rgb(24, 24, 24);
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 700;
        margin: 0;
    }
    .bnrtxt3 {
        color: rgb(117, 117, 117);
        font-family: Open Sans;
        font-size: 10px;
        font-weight: 400;
    }
    .bnr_pic img {
        height: 160px;
    }
    .bnr_edt{
        margin-top: 60px;
    }
    .btn_bnr {
        margin-top: -20px;
        display: flex;
        width: 100%;
    }
    ul li a , button {
        font-weight: 400;
        font-family: "Open Sans", sans-serif;
        font-size: 9px;
    }
    .bnr_pic_bg {
        background: none;
        width: auto;
        height: auto;
    }
    .txt h3 {
        color: rgb(24, 24, 24);
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 700;
    }
    li p span {
        font-family: Open Sans;
        color: rgb(117, 117, 117);
        font-size: 10px;
        font-weight: 400;
    }
    .about_txt ul li p {
        font-family: Open Sans;
        font-size: 10px;
        font-weight: 700;
    }
    .about_portfolio {
        margin-top: 20px;
        height: auto;
    }
    .about_txt {
        width: auto;
        height: auto;
    }
    .txt p {
        word-wrap: break-word;
        padding: 0 30px;
        color: rgb(117, 117, 117);
        font-family: Open Sans;
        font-size: 10px;
        font-weight: 400;
    }
    .bnr_dnld {
        
        
        padding: 3px 5px;
        
        
    }
    }